services:
  sdcpy-studio:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        INSTALL_MAP_DEPS: "1"
    ports:
      - "8000:8000"
    environment:
      SDCPY_STUDIO_MAX_WORKERS: "2"
